<h1>EVE Industrial tools</h1>

<h2>Spreadsheets</h2>
<ul>
  <li><%= link_to 'Ore Mining', spreadsheets_ore_mining_path %></li>
  <li><%= link_to 'Refining', spreadsheets_refining_path %></li>
  <li><%= link_to 'Ice Mining', spreadsheets_ice_mining_path %></li>
  <li><%= link_to 'Planetary Interaction', spreadsheets_planetary_interaction_path %></li>
</ul>

<h2>Data</h2>
<ul>
  <li><%= link_to 'Ores', ores_path %></li>
  <li><%= link_to 'Ore Variations', variations_path %></li>
  <li><%= link_to 'Minerals', minerals_path %></li>
</ul>
<ul>
  <li><%= link_to 'Ice Ores', ice_ores_path %></li>
  <li><%= link_to 'Ice Products', ice_products_path %></li>
</ul>
<ul>
  <li><%= link_to 'Planetary Commodities', planetary_commodities_path %></li>
</ul>
<ul>
  <li><%= link_to 'Regions', regions_path %></li>
  <li><%= link_to 'Systems', systems_path %></li>
</ul>
