<h1>EVE Industrial tools</h1>

<h2>Spreadsheets</h2>
<p>
  <%= link_to 'Mining Spreadsheet', spreadsheets_mining_path %><br/>
</p>

<h2>Data</h2>
<p>
  <%= link_to 'Ores', ores_path %><br/>
  <%= link_to 'Ore Variations', variations_path %><br/>
  <%= link_to 'Minerals', minerals_path %><br/>
</p>
<p>
  <%= link_to 'Regions', regions_path %><br/>
  <%= link_to 'Systems', systems_path %><br/>
</p>
