<%= form_for(@variation) do |f| %>
  <% if @variation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variation.errors.count, "error") %> prohibited this variation from being saved:</h2>

      <ul>
      <% @variation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ore_id %><br />
    <%= f.select :ore_id, @ores.collect {|o| [ o.name, o.id ] } %>
  </div>
  <div class="field">
    <%= f.label :central_id %><br />
    <%= f.text_field :central_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
