<h1>Listing variations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @variations.each do |variation| %>
  <tr>
    <td><%= variation.name %></td>
    <td><%= link_to 'Show', variation %></td>
    <td><%= link_to 'Edit', edit_variation_path(variation) %></td>
    <td><%= link_to 'Destroy', variation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Variation', new_variation_path %>
