<h1><%= @variation.name %></h1>
<p>
  <b>Bonus Yield:</b>
  <%= @variation.bonus %>%</b>
</p>

<p>
  <b>Eve-Central ID:</b>
  <%= @variation.central_id %>
</p>

<h2>Mineral Yield</h2>
<table class="table table-bordered table-striped table-small tablesorter">
  <thead>
    <tr>
      <th>Mineral</th>
      <th>Yield / batch</th>
      <th>Yield / m<sup>3</sup></th>
    </tr>
  </thead>
  <tbody>
    <% @variation.yields.each do |y| %>
      <tr>
        <td><%= link_to y.mineral.name, y.mineral %></b></td>
        <td><%= y.quantity %></td>
        <td><%= '%.2f' % y.base_yield.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<% if @can_edit %>
  <%= link_to 'Edit Yields', edit_yields_variation_path(@variation), class: 'btn btn-primary' %>
  <hr />
  <%= link_to 'Edit', edit_variation_path(@variation), class: 'btn btn-default' %>
<% end %>

<%= link_to 'Back to List', variations_path, class: 'btn btn-default' %>

