<%= form_for(@ore) do |f| %>
  <% if @ore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ore.errors.count, "error") %> prohibited this ore from being saved:</h2>

      <ul>
      <% @ore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :refine %><br />
    <%= f.number_field :refine %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
