<h1>Listing Ores</h1>

<table style="width: auto;" class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Refine</th>
    <th>Volume (m<sup>3</sup>)</th>
    <th class="edit-field">Edit</th>
  </tr>

<% @ores.each do |ore| %>
  <tr>
    <td><%= link_to ore.name, ore %></td>
    <td><%= ore.refine %></td>
    <td><%= ore.volume %></td>
    <td class="edit-field">
      <%= link_to image_tag("/edit.png", :alt => "Edit"), edit_ore_path(ore) %>
      <%= link_to image_tag("/delete.png", :alt => "Delete"), ore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </td>
  </tr>
<% end %>
</table>

<br />

<a class="btn btn-primary" href="<%= new_ore_path %>" role="button">New Mineral »</a>
