<p id="notice"><%= notice %></p>

<h1><%= @ore.name %></h1>
<p>
  <b>Volume:</b>
  <%= @ore.volume %> m<sup>3</sup>
</p>

<p>
  <b>Units to Refine:</b>
  <%= @ore.refine %>
</p>

<h2>Mineral Composition</h2>
<table class="table table-bordered table-striped table-small tablesorter">
  <thead>
    <tr>
      <th>Mineral</th>
      <th>Share</th>
    </tr>
  </thead>
  <tbody>
    <% @shares.each do |share| %>
      <tr>
        <td><%= link_to share[:mineral].name, share[:mineral] %></b></td>
        <td><%= '%.2f' % share[:percentage].round(2) %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= link_to 'Edit', edit_ore_path(@ore), class: 'btn btn-default' %>
<%= link_to 'Back to List', ores_path, class: 'btn btn-default' %>
