<p id="notice"><%= notice %></p>

<h1><%= @ore.name %></h1>
<p>
  <b>Volume:</b>
  <%= @ore.volume %> m<sup>3</sup>
</p>

<p>
  <b>Units to Refine:</b>
  <%= @ore.refine %>
</p>

<h2>Mineral Composition</h2>
<table class="table table-bordered table-striped table-small tablesorter">
  <thead>
    <tr>
      <th>Mineral</th>
      <th>Share</th>
    </tr>
  </thead>
  <tbody>
    <% @ore.ores_minerals.sort{ |a,b| a.share <=> b.share }.reverse.each do |om| %>
      <tr>
        <td><%= link_to om.mineral.name, om.mineral %></b></td>
        <td><%= "%.2f" % (om.share * 100).round(2) %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<a class="btn btn-primary" href="<%= edit_ore_path(@ore) %>" role="button">Edit »</a>
<a class="btn btn-primary" href="<%= ores_path %>" role="button">Back to List »</a>
