<h1>Editing Mineral</h1>
<%= form_for @mineral, html: { class: 'form-horizontal' } do |f| %>
  <% if @mineral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mineral.errors.count, 'error') %> prohibited this mineral from being saved:</h2>

      <ul>
      <% @mineral.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :volume, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :volume, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :central_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.number_field :central_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.submit class: 'btn btn-primary full-width' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= link_to 'Show', @mineral, class: 'btn btn-default ' %>
      <%= link_to 'Back', minerals_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
