<h1>Listing minerals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Volume</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @minerals.each do |mineral| %>
  <tr>
    <td><%= mineral.name %></td>
    <td><%= mineral.volume %></td>
    <td><%= link_to 'Show', mineral %></td>
    <td><%= link_to 'Edit', edit_mineral_path(mineral) %></td>
    <td><%= link_to 'Destroy', mineral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mineral', new_mineral_path %>
