<p id="notice"><%= notice %></p>

<h1><%= @mineral.name %></h1>
<p>
  <b>Volume:</b>
  <%= @mineral.volume %> m<sup>3</sup>
</p>

<p>
  <b>EVE-Central ID:</b>
  <%= @mineral.central_id %>
</p>

<h2>Refining</h2>
<table class="table table-bordered table-striped table-small tablesorter">
  <thead>
    <tr>
      <th>Ore</th>
      <th><%= @mineral.name %> / m<sup>3</sup></th>
      <th><%= @mineral.name %> / batch</th>
    </tr>
  </thead>
  <tbody>
    <% @mineral.yields.each do |y| %>
      <tr>
        <td><%= link_to y.variation.name, y.variation %></td>
        <td><%= '%.2f' % y.base_yield.round(2) %></td>
        <td><%= y.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= link_to 'Edit', edit_mineral_path(@mineral), class: 'btn btn-default' %>
<%= link_to 'Back to List', minerals_path, class: 'btn btn-default' %>
