<p id="notice"><%= notice %></p>

<h1><%= @mineral.name %></h1>
<b>Volume:</b> <%= @mineral.volume %> m<sup>3</sup><br />
<b>Eve-Central ID:</b> <%= @mineral.central_id %>

<h2>Refining</h2>
<table>
  <tr>
    <th>Ore</th>
    <th><%= @mineral.name %> / m<sup>3</sup></th>
  </tr>
  <% @mineral.yields.sort{ |a,b| a.base_yield <=> b.base_yield }.reverse.each do |y| %>
    <tr>
      <td><%= link_to y.variation.name, y.variation %></td>
      <td align="right"><%= "%.2f" % y.base_yield.round(2) %></td>
    </tr>
  <% end %>
</table>

<hr />

<%= link_to 'Edit', edit_mineral_path(@mineral) %> |
<%= link_to 'Back', minerals_path %>
