<p>character_id: <%= current_user.character_id %></p>
<p>character_name: <%= current_user.character_name %></p>
<p>expires_on: <%= current_user.esi_expires_on %></p>
<p>scopes: <%= current_user.scopes %></p>
<p>token_type: <%= current_user.token_type %></p>
<p>owner_hash: <%= current_user.owner_hash %></p>
