<h1>Listing Yields</h1>

<table style="width: auto;" class="table table-bordered table-striped">
  <tr>
    <th>Ore</th>
    <th>Mineral</th>
    <th>Quantity</th>
    <th class="edit-field">Edit</th>
  </tr>

<% @yields.each do |y| %>
  <tr>
    <td><%= link_to y.variation.name, y.variation %></td>
    <td><%= link_to y.mineral.name, y.mineral %></td>
    <td><%= y.quantity %></td>
    <td class="edit-field">
      <%= link_to image_tag("/edit.png", :alt => "Edit"), edit_yield_path(y) %>
      <%= link_to image_tag("/delete.png", :alt => "Delete"), y, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<a class="btn btn-primary" href="<%= new_yield_path %>" role="button">New Mineral »</a>
