<h1>Listing yields</h1>

<table>
  <tr>
    <th>Ore</th>
    <th>Mineral</th>
    <th>Quantity</th>
    <th colspan="3"></th>
  </tr>

<% @yields.each do |y| %>
  <tr>
    <td><%= link_to y.variation.name, y.variation %></td>
    <td><%= link_to y.mineral.name, y.mineral %></td>
    <td><%= y.quantity %></td>
    <td><%= link_to 'Show', y %></td>
    <td><%= link_to 'Edit', edit_yield_path(y) %></td>
    <td><%= link_to 'Destroy', y, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yield', new_yield_path %>
