<p id="notice"><%= notice %></p>

<b>Ore:</b> <%= @yield.variation.name %><br />
<b>Mineral:</b> <%= @yield.mineral.name %><br />
<b>Quantity:</b> <%= @yield.quantity %>

<hr />

<%= link_to 'Edit', edit_yield_path(@yield) %> |
<%= link_to 'Back', yields_path %>
