<h1><%= @ore.name %></h1>

<%= form_tag add_yields_ice_ore_path(@ore) do %>
  <table>
    <tr>
      <th>Mineral</th>
      <th>Quantity</th>
    </tr>
    
    <% @products.each do |product| %>
      <% y = @yields.detect { |y| y.ice_ore_id == @ore.id && y.ice_product_id == product.id } %>
      <% quantity = y.quantity unless y.nil? %>
      <tr>
        <td><%= label_tag product.name %></td>
        <td><%= number_field_tag product.id, quantity %></td>
      </tr>
    <% end %>
  <table>
  
  <%= submit_tag 'Save' %>
<% end %>
