<h1><%= @ore.name %></h1>
<%= form_tag add_yields_ice_ore_path(@ore), class: 'form-horizontal' do %>
  <% @products.each do |product| %>
    <div class="form-group">
      <%= label_tag product.name, nil, class: 'control-label col-sm-2' %>
      <div class="col-sm-2">
        <% y = @yields.detect { |y| y.ice_ore_id == @ore.id && y.ice_product_id == product.id } %>
        <% quantity = y.quantity unless y.nil? %>
        <%= number_field_tag product.id, quantity, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= submit_tag 'Save' %>
    </div>
  </div>
<% end %>
