<h1>Editing System</h1>
<%= form_for @system, html: { class: 'form-horizontal' } do |f| %>
  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system.errors.count, 'error') %> prohibited this system from being saved:</h2>

      <ul>
      <% @system.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :security, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :security, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :central_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.number_field :central_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :region_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.select :region_id, @regions.collect {|r| [ r.name, r.id ] }, { }, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.submit class: 'btn btn-primary full-width' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= link_to 'Show', @system, class: 'btn btn-default ' %>
      <%= link_to 'Back', systems_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
