<h1>Listing Systems</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sortable 'name', 'Name' %></th>
      <th>Region</th>
      <th><%= sortable 'security', 'Security' %></th>
      <th>True Security</th>
      <th><%= sortable 'central_id', 'EVE-Central ID' %></th>
      <% if @can_edit %>
        <th class="edit-field">Edit</th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= link_to system.name, system %></td>
        <td><%= link_to system.region.name, system.region %></td>
        <td><%= '%.1f' % system.security %></td>
        <td><%= '%.5f' % system.security %></td>
        <td><%= system.central_id %></td>
        <% if @can_edit %>
          <td class="edit-field"><%= link_to image_tag('/edit.png', :alt => 'Edit'), edit_system_path(system) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @systems %>
