<p id="notice"><%= notice %></p>

<h1><%= @system.name %></h1>
<p>
  <b>Central:</b>
  <%= @system.central_id %>
</p>

<p>
  <b>Region:</b>
  <%= link_to @system.region.name, @system.region %>
</p>

<hr/>

<a class="btn btn-primary" href="<%= edit_system_path(@system) %>" role="button">Edit »</a>
<a class="btn btn-primary" href="<%= systems_path %>" role="button">Back to List »</a>
