<h1><%= @system.name %></h1>
<p>
  <b>Region:</b>
  <%= link_to @system.region.name, @system.region %>
</p>

<p>
  <b>EVE-Central ID:</b>
  <%= @system.central_id %>
</p>

<hr/>

<%= link_to 'Edit', edit_system_path(@system), class: 'btn btn-default' if @can_edit %>
<%= link_to 'Back to List', systems_path, class: 'btn btn-default' %>
