<h1>Editing Planetary Commodity</h1>
<%= form_for @planetary_commodity, html: { class: 'form-horizontal' } do |f| %>
  <% if @planetary_commodity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planetary_commodity.errors.count, 'error') %> prohibited this planetary_commodity from being saved:</h2>

      <ul>
      <% @planetary_commodity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :volume, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :volume, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.number_field :quantity, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :central_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.number_field :central_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.submit class: 'btn btn-primary full-width' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= link_to 'Show', @planetary_commodity, class: 'btn btn-default ' %>
      <%= link_to 'Back', planetary_commodities_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
