<div class="row text-center">
  <% @planets.each do |planet| %>
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <% planet_id = planet['planet_id'] %>
          <h3 class="my-0 font-weight-normal" data-esi-type="planet" data-esi-id="<%= planet_id %>"><%= planet_id %></h3>
        </div>
        <div class="card-body">
          <h4>Planet Type: <%= planet['planet_type'].capitalize %></span></h4>
          <h4>Command Center Level: <%= planet['upgrade_level'] %></h4>
          <% planet['pins'].each do |pin| %>
            <div class="row">
              <div class="col text-right">
                <% item_id = pin['extractor_details']['product_type_id'] %>
                <strong data-esi-type="item" data-esi-id="<%= item_id %>"><%= item_id %></strong>
              </div>
              <div class="col text-left">
                <%= pin['expiry_time'] %>
              </div>
            </div>
          <% end %>
          <%= link_to 'Back to List', planetary_commodities_path, class: 'btn btn-lg btn-block btn-outline-primary mt-2' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("[data-esi-id]").each(function (i, e) {
    var id = e.attributes['data-esi-id'].value
    var type = e.attributes['data-esi-type'].value

    if (type === 'item')
      var url = "https://esi.evetech.net/latest/universe/types/" + id
    else if (type === 'planet')
      var url = "https://esi.evetech.net/latest/universe/planets/" + id
    else if (type === 'system')
      var url = "https://esi.evetech.net/latest/universe/systems/" + id

    $.ajax(url).done(function(data) {
      e.innerHTML = data.name
    })
  })
</script>
