<div class="row text-center">
  <% @planets.each do |planet| %>
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h3 class="my-0 font-weight-normal"><%= planet['planet_type'].capitalize %> planet</h3>
        </div>
        <div class="card-body">
          <h4>Planet ID: <%= planet['planet_id'] %></h4>
          <h4>System ID: <%= planet['solar_system_id'] %></h4>
          <h4>Command Center: Level <%= planet['upgrade_level'] %></h4>
          <% planet['pins'].each do |pin| %>
            <div class="row">
              <div class="col text-right">
                <strong><%= pin['extractor_details']['product_type_id'] %></strong>
              </div>
              <div class="col text-left">
                <%= pin['expiry_time'] %>
              </div>
            </div>
          <% end %>
          <%= link_to 'Back to List', planetary_commodities_path, class: 'btn btn-lg btn-block btn-outline-primary mt-2' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
