<p id="notice"><%= notice %></p>

<h1><%= @planetary_commodity.name %></h1>
<p>
  <b>Volume:</b>
  <%= @planetary_commodity.volume %>
</p>

<p>
  <b>EVE-Central ID:</b>
  <%= @planetary_commodity.central_id %>
</p>

<% unless @planetary_commodity.tier == 0 %>
  <h2>Schematic Requirements</h2>
  <table class="table table-bordered table-striped table-small">
    <thead>
      <tr>
        <th>Resource / Commodity</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @planetary_commodity.schematics.each do |schematic| %>
        <tr>
          <td><%= link_to schematic.input.name, schematic.input %></td>
          <td><%= schematic.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<p>
  <b>Quantity Produced:</b>
  <%= @planetary_commodity.quantity %>
</p>
<% end %>

<%= link_to 'Edit', edit_planetary_commodity_path(@planetary_commodity), class: 'btn btn-default' %>
<%= link_to 'Back to List', planetary_commodities_path, class: 'btn btn-default' %>
