<%= form_for(@ice_product) do |f| %>
  <% if @ice_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ice_product.errors.count, "error") %> prohibited this ice_product from being saved:</h2>

      <ul>
      <% @ice_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :central_id %><br />
    <%= f.number_field :central_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
