<h1><%= @ice_product.name %></h1>
<p>
  <b>Volume:</b>
  <%= @ice_product.volume %>
</p>

<p>
  <b>EVE-Central ID:</b>
  <%= @ice_product.central_id %>
</p>

<h2>Refining</h2>
<table class="table table-bordered table-striped table-small tablesorter">
  <thead>
    <tr>
      <th>Ore</th>
      <th><%= @ice_product.name %> / batch</th>
    </tr>
  </thead>
  <tbody>
    <% @ice_product.ice_yields.each do |y| %>
      <tr>
        <td><%= link_to y.ice_ore.name, y.ice_ore %></td>
        <td><%= y.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>If you want yield per m<sup>3</sup> you just have to divide yield per batch by 1000</p>

<hr />

<%= link_to 'Edit', edit_ice_product_path(@ice_product), class: 'btn btn-default' if @can_edit %>
<%= link_to 'Back to List', ice_products_path, class: 'btn btn-default' %>

