<p id="notice"><%= notice %></p>

<h1><%= @ice_product.name %></h1>
<p>
  <b>Volume:</b>
  <%= @ice_product.volume %>
</p>

<p>
  <b>Central:</b>
  <%= @ice_product.central_id %>
</p>

<h2>Refining</h2>
<table class="table table-bordered table-striped table-small tablesorter">
  <thead>
    <tr>
      <th>Ore</th>
      <th><%= @ice_product.name %> / batch</th>
    </tr>
  </thead>
  <tbody>
    <% @ice_product.ice_yields.each do |y| %>
      <tr>
        <td><%= link_to y.ice_ore.name, y.ice_ore %></td>
        <td><%= y.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>If you want yield per m<sup>3</sup> you just have to divide yield per batch by 1000</p>

<hr />

<a class="btn btn-primary" href="<%= edit_ice_product_path(@ice_product) %>" role="button">Edit »</a>
<a class="btn btn-primary" href="<%= ice_products_path %>" role="button">Back to List »</a>
