<h1>Ice Spreadsheet</h1>
<div class="sub">
<% unless @ores.nil? %>
  <h2>Using prices from the <%= @location %></h2>
  <table class="tablesorter table table-bordered table-striped">
    <thead class="pointer-cursor">
      <tr>
        <th>Ore</th>
        <th>Price / Unit<br/>(P<sub>95</sub>)</th>
        <th>Revenue / Unit<br/>Refining</th>
        <th>Refining<br/>Gain</th>
        <th>Volume<br/>Reduction</th>
      </tr>
    </thead>
    <tbody>
      <% @ores.each do |var| %>
        <tr>
          <td><%= link_to var[:name], variation_path(var[:id]) %></td>
          <% if var[:price] == 0 %>
            <td> No Buy Orders </td>
          <% else %>
            <td><%= '%.2f' % var[:price] %></td>
          <% end %>
            <td><%= '%.2f' % var[:refine_revenue] %></td>
            <% gain = var[:refining_gain] %>
            <td <%= 'class="text-warning"'.html_safe unless (gain > 0) %>><%= "%.2f %" % gain unless var[:price] == 0 %></td>
            <td><%= '%.2f %' % var[:volume] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<%= form_tag spreadsheets_ice_mining_path do %>
  <div class="sub">
    <h2>Parameters</h2>
    <%= label_tag  :region %>
    <%= select_tag :region, options_from_collection_for_select(@regions, :id, :name, @region), :prompt => 'Select Region', :onchange => 'updateSystems()' %>
    <br/><br/>
    <%= label_tag  :system %>
    <% if @systems.nil? %>
      <%= select_tag :system, nil, :prompt => '-' %>
    <% else %>
      <%= select_tag :system, options_from_collection_for_select(@systems, :id, :name, @system), :prompt => 'Whole Region' %>
    <% end %>
    <br/><br/>
    <%= label_tag  :station_yield %>
    <%= select_tag :station_yield, options_for_select(['50','40','35','30','25'], @station_yield) %>
    <br/><br/>
    <%= label_tag  :refining_skill %>
    <%= select_tag :refining_skill, options_for_select(['0','1','2','3','4','5'], @refining_skill) %>
    <br/><br/>
    <%= label_tag  :refinery_efficiency_skill %>
    <%= select_tag :refinery_efficiency_skill, options_for_select(['0','1','2','3','4','5'], @refinery_efficiency_skill) %>
    <br/><br/>
    <%= label_tag  :ice_processing_skill %>
    <%= select_tag :ice_processing_skill, options_for_select(['0','1','2','3','4','5'], @refinery_efficiency_skill) %>
    <br/><br/>
    <%= label_tag  :refinery_tax %>
    <%= text_field_tag :refinery_tax, @refinery_tax, :size => 3 %>    
    <br/><br/>
    <%= submit_tag 'Calculate' %>
  </div>
<% end %>
<div class="sub">
  <h2>Formulas</h2>
  <p>If you want revenues per m<sup>3</sup> just divide revenues by 1000.<br/>All ice ores have a 1000 m<sup>3</sup> volume.</p>
  <h3>Refining Revenues</h3>
  <p>
    Too lazy to write it right now =p
  </p>
</div>
