<h1>Mining Spreadsheet</h1>
<% unless @variations.empty? %>
  <div id="menu" style="float:left;padding:25px">
  <table>
    <tr>
      <th><%= link_to 'Ore Variation', spreadsheets_mining_path(@params.merge({:sort => 'name'})) %></th>
      <th><%= link_to 'Price / Unit', spreadsheets_mining_path(@params.merge({:sort => 'price'})) %><br/>(P<sub>95</sub>)</th>
      <th><%= link_to 'Revenue / m<sup>3</sup><br/>Selling Raw'.html_safe, spreadsheets_mining_path(@params.merge({:sort => 'raw_revenue'})) %></th>
      <th><%= link_to 'Revenue / m<sup>3</sup><br/>Refining'.html_safe, spreadsheets_mining_path(@params.merge({:sort => 'refine_revenue'})) %></th>
      <th><%= link_to 'Refining<br/>Gain/Loss'.html_safe, spreadsheets_mining_path(@params.merge({:sort => 'refining_gain'})) %></th>
    </tr>
    
    <% @variations.each do |var| %>
      <tr>
        <td><%= link_to var[:name], variation_path(var[:id]) %></td>
        <% if var[:price] == 0 %>
          <td colspan="2" align="center"> No Buy Orders </td>
        <% else %>
          <td align="right"><%= "%.2f" % var[:price] %></td>
          <td align="right"><%= "%.2f" % var[:raw_revenue] %></td>
        <% end %>
          <td align="right"><%= "%.2f" % var[:refine_revenue] %></td>
          <% gain = var[:refining_gain] %>
          <td align="right" <%= 'style="color:red"'.html_safe unless (gain > 0) %>><%= "%.2f %" % gain unless var[:price] == 0 %></td>
      </tr>
    <% end %>
      
  </table>
  </div>
<% end %>

<div id="content" style="float:left;padding:25px">
  <h2>Parameters</h2>
  <%= form_tag spreadsheets_mining_path do |f| %>
    <div class="field">
      <%= label_tag  :region %>
      <%= select_tag :region, options_from_collection_for_select(@regions, :id, :name), :prompt => 'Select Region', :onchange => 'updateSystems()' %>
    </div>
    <div class="field">
      <%= label_tag  :system %>
      <%= select_tag :system, nil, :prompt => 'Whole Region' %>
    </div>
    <%= submit_tag 'Calculate' %>
  <% end %>
  <h2>Formulas</h2>
  <h3>Raw Revenues</h3>
  <p>(1000 / O<sub>V</sub>) * P * T</p>
  <p>
    O<sub>V</sub> = Ore Volume<br/>
    P = Ore Price (Buy orders percentile for that ore at the selected region/system)<br/>
    T = 100% - Sale Tax %
  </p>
  <h3>Refining Revenues</h3>
  <p>
    Too lazy to write it right now =p
  </p>
</div>
