<h1>Mining Spreadsheet</h1>
<div style="float:left">
<% unless @variations.nil? %>
  <h2>Using prices from the <%= @location %></h2>
  <table class="tablesorter table table-bordered table-striped">
    <thead class="pointer-cursor">
      <tr>
        <th>Ore Variation</th>
        <th>Price / Unit<br/>(P<sub>95</sub>)</th>
        <th>Revenue / m<sup>3</sup><br/>Selling Raw</th>
        <th>Revenue / m<sup>3</sup><br/>Refining</th>
        <th>Refining<br/>Gain</th>
        <th>Volume<br/>Reduction</th>
      </tr>
    </thead>
    <tbody>
      <% @variations.each do |var| %>
        <tr>
          <td><%= link_to var[:name], variation_path(var[:id]) %></td>
          <% if var[:price] == 0 %>
            <td> No Buy Orders </td>
            <td></td>
          <% else %>
            <td><%= '%.2f' % var[:price] %></td>
            <td><%= '%.2f' % var[:raw_revenue] %></td>
          <% end %>
            <td><%= '%.2f' % var[:refine_revenue] %></td>
            <% gain = var[:refining_gain] %>
            <td <%= 'class="text-warning"'.html_safe unless (gain > 0) %>><%= "%.2f %" % gain unless var[:price] == 0 %></td>
            <td><%= '%.2f %' % var[:volume] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<%= form_tag spreadsheets_mining_path do %>
  <div id="sub1" style="float:left;padding:0 15px">
    <h2>Parameters</h2>
    <%= label_tag  :region %>
    <%= select_tag :region, options_from_collection_for_select(@regions, :id, :name, @region), :prompt => 'Select Region', :onchange => 'updateSystems()' %>
    <br/><br/>
    <%= label_tag  :system %>
    <% if @systems.nil? %>
      <%= select_tag :system, nil, :prompt => '-' %>
    <% else %>
      <%= select_tag :system, options_from_collection_for_select(@systems, :id, :name, @system), :prompt => 'Whole Region' %>
    <% end %>
    <br/><br/>
    <%= label_tag  :station_yield %>
    <%= select_tag :station_yield, options_for_select(['50','40','35','30','25'], @station_yield) %>
    <br/><br/>
    <%= label_tag  :refining_skill %>
    <%= select_tag :refining_skill, options_for_select(['0','1','2','3','4','5'], @refining_skill) %>
    <br/><br/>
    <%= label_tag  :refinery_efficiency_skill %>
    <%= select_tag :refinery_efficiency_skill, options_for_select(['0','1','2','3','4','5'], @refinery_efficiency_skill) %>
    <br/><br/>
    <%= label_tag  :refinery_tax %>
    <%= text_field_tag :refinery_tax, @refinery_tax, :size => 3 %>    
    <br/><br/>
    <%= submit_tag 'Calculate' %>
  </div>
  <div id="sub2" style="float:left;padding:0 15px">
    <h2>Processing<br/>Skills</h2>
    <table>
      <% @ores.each do |o| %>
        <tr>
          <td><%= label_tag o.name %></td>
          <td>&nbsp;&nbsp;<%= select_tag 'processing_skills[%s]' % o.name, options_for_select(['0','1','2','3','4','5'], @processing_skills[o.id]) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<div id="info" style="float:left;padding:0 15px">
  <h2>Formulas</h2>
  <h3>Raw Revenues</h3>
  <p>(1000 / O<sub>V</sub>) * P * T</p>
  <p>
    O<sub>V</sub> = Ore Volume<br/>
    P = Ore Price (Buy orders percentile for that ore at the selected region/system)<br/>
    T = 100% - Sale Tax %
  </p>
  <h3>Refining Revenues</h3>
  <p>
    Too lazy to write it right now =p
  </p>
</div>
