<h1>Ore Spreadsheet</h1>
<% unless @variations.nil? %>
<div class="sub">
  <table class="tablesorter table table-bordered table-striped">
    <thead class="pointer-cursor">
      <tr>
        <th>Ore Variation</th>
        <th>Price / Unit<br/>(P<sub>95</sub>)</th>
        <th>Revenue / m<sup>3</sup><br/>Selling Raw</th>
        <th>Revenue / m<sup>3</sup><br/>Refining</th>
        <th>Refining<br/>Gain</th>
        <th>Volume<br/>Reduction</th>
      </tr>
    </thead>
    <tbody>
      <% @variations.each do |var| %>
        <tr>
          <td><%= link_to var[:name], variation_path(var[:id]) %></td>
          <% if var[:price] == 0 %>
            <td> No Buy Orders </td>
            <td></td>
          <% else %>
            <td><%= '%.2f' % var[:price] %></td>
            <td><%= '%.2f' % var[:raw_revenue] %></td>
          <% end %>
            <td><%= '%.2f' % var[:refining_revenue] %></td>
            <% gain = var[:refining_gain] %>
            <td <%= 'class="text-warning"'.html_safe unless (gain > 0) %>><%= '%.2f %' % gain unless var[:price] == 0 %></td>
            <td><%= '%.2f %' % var[:volume_reduction] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<%= form_tag spreadsheets_ore_mining_path do %>
  <div class="sub">
    <h2>Parameters</h2>
    <div class="form-group">
      <%= label_tag  :region %>
      <%= select_tag :region, options_from_collection_for_select(@regions, :id, :name, @region), :prompt => 'Select Region', :onchange => 'updateSystems()', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag    :system %>
      <% if @systems.nil? %>
        <%= select_tag :system, nil, :prompt => '-', class: 'form-control' %>
      <% else %>
        <%= select_tag :system, options_from_collection_for_select(@systems, :id, :name, @system), :prompt => 'Whole Region', class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= label_tag  :station_yield %>
      <%= select_tag :station_yield, options_for_select(['50','40','35','30','25'], @station_yield), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag  :refining_skill %>
      <%= select_tag :refining_skill, options_for_select(['0','1','2','3','4','5'], @refining_skill), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag  :refinery_efficiency_skill %>
      <%= select_tag :refinery_efficiency_skill, options_for_select(['0','1','2','3','4','5'], @refinery_efficiency_skill), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag  :refinery_tax %>
      <%= text_field_tag :refinery_tax, @refinery_tax, :size => 3, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label>&nbsp;</label>
      <%= submit_tag 'Calculate', class: 'btn btn-default full-width' %>
    </div>
  </div>
  <div class="sub">
    <h2>Processing Skills</h2>
    <% @ores.each do |o| %>
      <div class="form-group">
        <%= label_tag o.name %>
        <%= select_tag 'processing_skills[%s]' % o.name, options_for_select(['0','1','2','3','4','5'], @processing_skills[o.id][:level]), class: 'form-control' %>    
      </div>
    <% end %>
  </div>
<% end %>
