<h1>Refining Spreadsheet</h1>
<h2>Using prices from the <%= @location %></h2>
<div class="sub">
<% unless @variations.nil? %>
  <table class="tablesorter table table-bordered table-striped">
    <thead class="pointer-cursor">
      <tr>
        <th>Ore Variation</th>
        <th>Unit Price</th>
        <th>Inversion<br/>Return</th>
      </tr>
    </thead>
    <tbody>
      <% @variations.each do |variation| %>
        <tr>
          <td><%= link_to variation[:name], variation_path(variation[:id]) %></td>
          <% if variation[:price] == 0 %>
            <td colspan="2" class="text-center">No Sell Orders</td>
          <% else %>
            <td><%= '%.2f' % variation[:price] %></td>
            <td><%= '%.2f' % variation[:refine_revenue] %> %</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="sub">
  <table class="tablesorter table table-bordered table-striped">
    <thead class="pointer-cursor">
      <tr>
        <th>Mineral</th>
        <th>Unit Price</th>
      </tr>
    </thead>
    <tbody>
      <% @minerals.each do |mineral| %>
        <tr>
          <td><%= link_to mineral[:name], mineral_path(mineral[:id]) %></td>
          <td><%= '%.2f' % mineral[:price] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
<% end %>

<%= form_tag spreadsheets_refining_path do %>
  <div class="sub">
    <h2 style="margin-top:0">Parameters</h2>
    <%= label_tag  :region %>
    <%= select_tag :region, options_from_collection_for_select(@regions, :id, :name, @region), :prompt => 'Select Region', :onchange => 'updateSystems()' %>
    <br/><br/>
    <%= label_tag  :system %>
    <% if @systems.nil? %>
      <%= select_tag :system, nil, :prompt => '-' %>
    <% else %>
      <%= select_tag :system, options_from_collection_for_select(@systems, :id, :name, @system), :prompt => 'Whole Region' %>
    <% end %>
    <br/><br/>
    <%= label_tag  :station_yield %>
    <%= select_tag :station_yield, options_for_select(['50','40','35','30','25'], @station_yield) %>
    <br/><br/>
    <%= label_tag  :refining_skill %>
    <%= select_tag :refining_skill, options_for_select(['0','1','2','3','4','5'], @refining_skill) %>
    <br/><br/>
    <%= label_tag  :refinery_efficiency_skill %>
    <%= select_tag :refinery_efficiency_skill, options_for_select(['0','1','2','3','4','5'], @refinery_efficiency_skill) %>
    <br/><br/>
    <%= label_tag  :refinery_tax %>
    <%= text_field_tag :refinery_tax, @refinery_tax, :size => 3 %>    
    <br/><br/>
    <%= submit_tag 'Calculate' %>
  </div>
  <div class="sub">
    <h2 style="margin-top:0">Processing<br/>Skills</h2>
    <table>
      <% @ores.each do |o| %>
        <tr>
          <td><%= label_tag o.name %></td>
          <td>&nbsp;&nbsp;<%= select_tag 'processing_skills[%s]' % o.name, options_for_select(['0','1','2','3','4','5'], @processing_skills[o.id]) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<div class="sub">
  <h2>Formulas</h2>
  <h3>Raw Revenues</h3>
  <p>(1000 / O<sub>V</sub>) * P * T</p>
  <p>
    O<sub>V</sub> = Ore Volume<br/>
    P = Ore Price (Sell orders percentile for that ore at the selected region/system)<br/>
    T = 100% - Sale Tax %
  </p>
  <h3>Refining Revenues</h3>
  <p>
    Too lazy to write it right now =p
  </p>
</div>
